<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Natural Language Processing</title>
</head>
<body>
    <header>
        <h1>Evaluate News Articles with NLP</h1>
    </header>

    <form id="form">
        <label for="name">Enter URL</label>
        <input id="name" type="text" name="input" placeholder="Enter URL to an article">
        <input type="submit" value="Submit">
    </form>

    <section>
        <p id="results"></p>
    </section>

    <footer>
        <p>Razan NLP Project</p>
    </footer>
</body>
</html>
