form {
    margin: 2em 0;
}

input[type="text"] {
    padding: 0.5em;
    font-size: 1.2em;
}

input[type="submit"] {
    padding: 0.7em;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}
